<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/index.css">
    <title>Random Game</title>
</head>
<body>
    <div class="container">
        <div class="centerSide">
            <p>Lets Go</p>
        </div>
        <div class="sides">
            <div class="leftSide">
                <p>player1</p>
            </div>
            <div class="rightSide">
                <p>player2</p>
            </div>
        </div>
    </div>
    <script src="./scripts/Script.js"></script>
</body>
</html>
