@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --NavBar-BackGround: #F8F9FA;
    --NabBar-Padding: 15px;
    --NavBar-ListColor: #717171;
    --NavBar-ListColor-Hover: #72AEC8;
    --NavBar-Background-For-Icon: #f9f9f9;
}
nav {
    background-color: var(--NavBar-BackGround);
    display: grid;
    grid-template-columns: 1fr 9fr;
    height: 90px;
    padding: var(--NabBar-Padding);
    width: 100%;
    position: fixed;
    z-index: 1000;

}
nav .Logo {
    display: flex;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}
nav ul li{
    padding: var(--NabBar-Padding);
    color: var(--NavBar-ListColor);
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}
nav ul li a,
nav ul li a:visited,
nav ul li a:hover,
nav ul li a:active,
nav ul li a:focus {
    text-decoration: none;
    color: inherit;  
}

.Hori li{
    display: none;
}
nav ul li:hover {
    color: var(--NavBar-ListColor-Hover);
    cursor: pointer;
}
#Margin {
    margin-right: 50px;
}
.List {
    position: relative;
}
.NestedList {
    position: absolute;
    z-index: 10000000000;
    display: none;
    min-width: 10rem;
    padding: .5rem 0;
    margin: 0;
    text-align: left;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    top: 100%;
    right: 0;
    margin : -10px 80px;
}
.NestedList li {
    font-size: 1rem;
    color: #212529;
}
.NestedList li:hover {
    background-color: #E9ECEF;
    color: #212529;
}
#MenuIcon {
    display: none;
}
#ExitIcon {
    display: none;
}

@media screen and (max-width: 769px) {
    nav ul {
        display: flex;
        z-index: 100000;
        flex-direction: column;
        background-color: var(--NavBar-Background-For-Icon);
        position: fixed;
        justify-content: flex-start;
        top: 0;
        right: -400px; /* Off-screen to the right */
        width: 400px;
        padding: 20px;
        height: 100vh;
        transition: right 0.3s ease-in-out;
    }
    #MainList.active {
        right: 0; /* Slide in to the visible area */
    }
    nav ul li {
        font-size: 30px;
    }
    nav {
        position: fixed;
        z-index: 5;
    }
    
    nav #MenuIcon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;
        font-size: 30px;
        cursor: pointer;
    }

    nav .Logo {
        display: block;
        margin-bottom: 20px;
    }

    .NestedList {
        display: none;
        width: 70%;
        background-color: #fff;
        padding: 10px 0;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: .25rem;
        position: absolute;
        top: 55%;
        right: -6%;
        height: 370px;
    }
    .NestedList li:hover {
        background-color: #E9ECEF;
        color: #212529;
    }
    nav ul li.active .NestedList {
        display: block;
    }
    #MainList.active {
        display: flex;
        flex-direction: column;
        right: 0;
    }
    #MenuIcon.active {
        width: 400px;
        height: 100vh
    }
    #Overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 900;
        background: rgba(0, 0, 0, 0.5);
        transition: opacity 0.5s ease-in-out;
    }

    #Overlay.active {
        display: block;
        background: rgba(0, 0, 0, 0.7);
    }
    #Hide {
        display: none;
    }
    #ExitIcon {
        position: absolute;
        top: 1%;
        right: 5%;
        font-size: 25px;
        cursor: pointer;
        color: #717171;
        padding: 5px;
    }
    #ExitIcon:hover {
        border: 3px solid #72aec8;
        border-radius: 5px;
        font-weight: bold;
    }
}
